.message-container {
  display: flex;
  flex-direction: column;
}

.sent {
  align-self: flex-end;
  background-color: #b2d8ff;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.received {
  align-self: flex-start;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.message-form {
  display: flex;
  margin-top: 20px;
}

.message-form textarea {
  flex-grow: 1;
  margin-right: 10px;
}

.message-form button {
  flex-shrink: 0;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.title {
    font-family:cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #0062cc;
  }