

<div class="col-sm-6  mx-auto">
    <!-- Sign up Section Start -->
  
  <div class="signup-section ptb-100 card p-3 shadow">
      <div class="container">
        <h1 class="text-center title">Welcome </h1>
        <hr class="m-3">
  
        <div class="row">
          <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-3">
            <form action="#" class="login-form">
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Email or Username" required
                        [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">

                    <input id="password-field" type="{{pass}}" class="form-control" placeholder="Password"
                        required [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/> <small>                    <span toggle="#password-field" class="fa fa-fw {{fa}} field-icon toggle-password"
                            (click)="pass = (pass=='password')?'text':'password';fa=(fa=='fa-eye')?'fa-eye-slash':'fa-eye'"></span></small>
                </div>
                <div *ngIf="message != ''"><span class="text-danger">{{message}}</span></div>
                <div class="form-group">
                    <button type="submit" class="btn form-control btn-primary rounded submit px-3"
                        (click)="login()">Log In</button>
                </div>
            </form>
            <div class="w-100 text-center mt-4 text">
                <p class="mb-0">Don't have an account?</p>
                <a [routerLink]="'/StudentRegister'">Sign Up as Student</a><br>
                <a [routerLink]="'/TeacherRegister'">Sign Up as Teacher</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign Up Section End -->
    
  </div>