<!-- Header -->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shop in style</h1>
      <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
    </div>
  </div>
</header>

<!-- Section -->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row">
      <!-- Map Section -->
      <div class="col-12">
        <div id="map" style="height: 400px;"></div>
      </div>

      <!-- Highest Rated Teachers Section -->

    </div>
    <div class="col">
        <div class="teacher-list">
          <h2>Highest Rated Teachers</h2>
          <ul>
            <li *ngFor="let teacher of highestRatedTeachers">
              {{ teacher.name }} - {{ teacher.rating }}
            </li>
          </ul>
        </div>
      </div>
  </div>
</section>
