<div class="container">
  <div class="form-group row">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchText">
    </div>
    <div class="col-md-6">
      <select class="form-control" [(ngModel)]="selectedField">
        <option value="">All fields</option>
        <option *ngFor="let field of fields" [value]="field">{{ field.name }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let teacher of teachers | filter: {name: searchText, FieldId: selectedField}">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" class="img-fluid rounded-circle" alt="Teacher Avatar">
            </div>
            <div class="col-md-8">
              <h5 class="card-title">{{ teacher.name }}</h5>
              <p class="card-text">{{ teacher.FieldId?teacher.FieldId.name:"-" }}</p>
              
              <div class="row">
                <div class="col-md-6">
                  <p class="card-text">{{ teacher.rating }} / 5</p>
                </div>
                <div class="col-md-6">
                  <p class="card-text">{{ teacher.pricePerHour }} / hour</p>
                </div>
              </div>
              <a href="#" class="btn btn-success">Enroll</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>