<div class="container">
  <div class="form-group row">
    <div class="col-md-3 mb-3 mb-md-0">
      <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchText"  (ngModelChange)="filterTeachers()">
    </div>
    <div class="col-md-3 mb-3 mb-md-0">
      <select class="form-control"placeholder="Field"  [(ngModel)]="selectedField"  (ngModelChange)="filterTeachers()" >
        <option value="" >All fields</option>
        <option *ngFor="let field of fields" [value]="field._id">{{ field.name }}</option>
      </select>
    </div>
    <div class="col-md-3 mb-3 mb-md-0">
      <input type="number" class="form-control" placeholder="Rate (No. of Stars 1->5)" [(ngModel)]="Rate"  (ngModelChange)="filterTeachers()">
    </div>
    <div class="col-md-3 mb-3 mb-md-0">
      <input type="number" class="form-control" placeholder="years of Experiance" [(ngModel)]="Years"  (ngModelChange)="filterTeachers()">
    </div>

  </div>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let teacher of filteredTeachers">
      <div class="card h-100">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" class="img-fluid rounded-circle teacher-avatar" alt="Teacher Avatar">
            </div>
            <div class="col-md-8">
              <a href="/teacherDetail/{{teacher._id}}"> <h5 class="card-title">{{ teacher.name }}</h5></a>

              <p class="card-text">{{ teacher.FieldId?teacher.FieldId.name:"-" }}</p>
              
              <div class="row">
                <div class="col-md-6">
                  <h1 class="card-text"><app-rating [rate]="teacher.rating"></app-rating>
                  </h1>
                </div>
                <div class="col-md-6">
                  <p>experience:</p>
                  <p> {{teacher.experience}} Years</p>
                  
                </div>
                <div class="col-md-6">
                  <p class="card-text"><i class="fas fa-money-bill-wave"></i> {{ teacher.pricePerHour }}$ /<small> hour</small></p>
                </div>
              </div>
              <a href="/teacherDetail/{{ teacher._id }}" class="btn btn-success mt-3">Show Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>