        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
          <div class="container px-4 px-lg-5">
              <a class="navbar-brand" routerLink="/">Teacher App</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                      <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/">Home</a></li>
                      <li class="nav-item"*ngIf="this.login.isloggedin && this.role=='admin'"><a class="nav-link" routerLink="/PendingTeachers">Teachers</a></li>
                      <li class="nav-item"*ngIf="this.login.isloggedin && this.role=='admin'"><a class="nav-link" routerLink="/students">Students</a></li>
                      <li class="nav-item"*ngIf="this.login.isloggedin && this.role=='admin'"><a class="nav-link" routerLink="/Fields">Fields</a></li>
                      <li class="nav-item"*ngIf="this.login.isloggedin && this.role=='admin'"><a class="nav-link" routerLink="/Admins">Admins</a></li>

                      <li class="nav-item"*ngIf="this.login.isloggedin && this.role=='student'"><a class="nav-link" routerLink="/TeachersList">Find Teacher</a></li>

                    </ul>
                  <form class="d-flex">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="nav-item dropdown" *ngIf="!this.login.isloggedin;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Register
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item"  routerLink="/StudentRegister">Student</a>
                          <a class="dropdown-item" routerLink="/TeacherRegister">Teacher</a>
                        </div>
                      </li>
                      <li class="nav-item" *ngIf="!this.login.isloggedin;else logoutbutton ">
                        <a class="nav-link"  routerLink="/login"><span class="glyphicon glyphicon-user"></span>Login</a>
                      </li>
                      <ng-template #logoutbutton>
                        <li class="nav-item">

                          <a class="nav-link" routerLink="/teacherProfile/{{Id}}">
                            <span><i class="bi bi-box-arrow-in-right"></i></span>Welcome, {{name}}
                          </a>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/login" (click)="logout()"><span><i class="bi bi-box-arrow-in-right"></i></span> logout</a>
                      </li>

                    </ng-template>
                    </ul>
                  </form>
              </div>
          </div>
      </nav>
