<table class="table bg-white">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Price Per Hour</th>
      <th>Field</th>
      <th>Registration Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of Teachers">
      <td>{{ teacher.name }}</td>
      <td>{{ teacher.email }}</td>
      <td>{{ teacher.pricePerHour }} $</td>
      <td>{{ teacher.FieldId?teacher.FieldId.name:"-" }}</td>
      <td>{{ teacher.registerationDate  |date }}</td>
      <td>{{ teacher.Active ? 'Accepted' : 'Pending' }}</td>
      <td>

        <button *ngIf="!teacher.Active" class="btn btn-primary mr-2" (click)="Accept(teacher._id)">Accept</button>

        <button class="btn btn-danger" (click)="Delete(teacher._id)">Delete</button>

      </td>
    </tr>
  </tbody>
</table>
