<h1>Fields</h1>
<div class="form-inline">
  <label>Add new field:</label>
  <div class="input-group">
    <input type="text" class="form-control" #newField />
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="add(newField.value); newField.value=''">Add</button>
    </div>
  </div>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let field of fields"  >
      <td>{{field._id}}</td>
      <td>{{field.name}}</td>
    </tr>
  </tbody>
</table>
