
<div class="container register-form my-5">
    <div class="form">
        <div class="note">
            <p>Register As Student to get the Features and Contact your Teachers</p>
        </div>
        <form class="signup-form"  [formGroup]="signupForm"  (ngSubmit)="onSubmit()">
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input
                        type="text"
                        class="form-control"
                        placeholder="Name *"
                        formControlName="name"
                        [ngClass]="{
                          'valid' :signupForm.get('name')?.touched && signupForm.get('name')?.valid,
                          'invalid' : form['name'].touched &&form['name'].invalid}"
                      />
                      <small class="text-danger mt-3" *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
                        Name is required *
                        </small>
                    </div></div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <input
                        type="email"
                        class="form-control"
                        placeholder="Email *"
                        formControlName="email"
                        [ngClass]="{
                          'valid' :signupForm.get('email')?.touched && signupForm.get('email')?.valid,
                          'invalid' : form['email'].touched &&form['email'].invalid}"
                      />
                      <small class="text-danger mt-3" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                        Email is required * 
                        </small>
                              </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input
                        type="password"
                        class="form-control"
                        placeholder="Password *"
                        formControlName="password"
                        [ngClass]="{
                          'valid' :signupForm.get('password')?.touched && signupForm.get('password')?.valid,
                          'invalid' : form['password'].touched &&form['password'].invalid}"
                      />
                      <small class="text-danger mt-3" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                        password is required *
                        </small>                    </div>
                        </div>
                        <div class="col-md-6">
                    <div class="form-group">
                        <input
                        type="password"
                        class="form-control"
                        placeholder="confirm Password *"
                        formControlName="confirmPassword"
                        [ngClass]="{
                          'valid' :signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.valid,
                          'invalid' : form['confirmPassword'].touched &&form['confirmPassword'].invalid}"
                      />
                      <small class="text-danger mt-3" *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
                        password dosn't match
                    </small>                    </div>
                </div>
            </div>
            <button type="submit" class="btnSubmit">Submit</button>
        </div>
    </form>

    </div>
</div>